###################################
### Custom project-wide ignores ###
###################################

# Ignore all keys (i.e., service accounts, ssh keys, etc.)
keys/*
!keys/README.md

# Ignore all local Python environments
venv/

# Ignore Draw.io backups, autosaves, and whatever else
*.drawio.*
